@media (max-width: 800px) {
    /* header */
    .contact-nav {
        display: none;
    }
    .navigation {
        height: 10vw;
    }
    .menu-ul {
        display: none;
    }
    .nav-title {
        font-size: 5vw;
    }
    .burger-menu {
        display: block;
        font-size: 5vw;
        cursor: pointer;
    }
    /* section #1 - suggestion */
    .suggestion {
        width: 100%;
    }
    .suggest-img {
        width: 60%;
        position: relative;
        z-index: 1;
    }
    .image {
        width: 100%;
        opacity: 0.3;
    }
    .offer {
        position: absolute;
        width: 85%;
        z-index: 2;
    }
    .offer-p1 {
        font-size: 5vw;
        margin-bottom: 6vw;
    }
    .offer-p2 {
        font-size: 3vw;
        margin-bottom: 6vw;
    }
    .offer-button {
        width: 18vw;
        height: 5vw;
    }
    .offer-button a {
        font-size: 2vw;
    }
    .search-p1 {
        font-size: 4.5vw;
        margin-bottom: 5vw;
    }
    .search-form input {
        width: 60%;
        height: 7vw;
        font-size: 2.5vw;
    }
    .search-button {
        width: 20vw;
        height: 7vw;
        font-size: 2.5vw;
    }
    .domain-li a {
        font-size: 2vw;
    }
    .cards {
        width: 90%;
    }
    .card {
        width: 27vw;
        height: 22vw;
        border-radius: 1.6vw;
    }
    .card-p1 {
        font-size: 3vw;
    }
    .card-p2 {
        font-size: 2vw;
    }
    .card img {
        width: 7vw;
    }
    /* section #2 - banner*/
    .section {
        height: 70vw;
    }
    .banner-txt {
        width: 90%;
        position: absolute;
        z-index: 20;
        height: 70vw;
    }
    .banner-p1 {
        font-size: 5vw;
    }
    .banner-p2 {
        font-size: 2.8vw;
    }
    .banner-button {
        width: 20vw;
        height: 6.5vw;
        border-radius: 2.1vw;
        border-style: none;
    }
    .banner-button a {
        font-size: 2.2vw;
    }
    .banner-image {
        width: 90%;
        position: relative;
        z-index: 7;
        opacity: 0.3;
    }
    .banner-img {
        position: relative;
    }
    /* section 3 */
    .info {
        height: 210vw;
    }
    .details {
        width: 95%;
        height: 190vw;
    }
    .details-paragraphs {
        width: 100%;
    }
    .details-p1 {
        font-size: 6vw;
        margin-bottom: 3vw;
    }
    .details-p2 {
        font-size: 4vw;
        margin-bottom: 6vw;
    }
    .details-box {
        height: 150vw;
        justify-content: space-around;
    }
    .box {
        width: 38vw;
        height: 50vw;
    }
    .box img {
        width: 10vw;
    }
    .box-p1 {
        font-size: 4vw;
    }
    .box-p2 {
        font-size: 3vw;
    }
    /* section #4 - host-info */
    .host-info {
        height: 170vw;
    }
    .wraper {
        width: 100%;
    }
    .block {
        justify-content: center;
        height: 50%;
        margin-bottom: 10vw;
    }
    .text-block {
        width: 90%;
        position: relative;
        z-index: 50;
    }
    .block-p1 {
        font-size: 5vw;
        margin-bottom: 7vw;
    }
    .block-p2 {
        font-size: 4vw;
        margin-bottom: 7vw;
    }
    .block-p3 {
        font-size: 3.5vw;
        margin-bottom: 3.5vw;
    }
    .block-p3 i {
        color: #6AC259;
        margin-right: 0.5vw;
    }
    .block-a {
        font-size: 3vw;
    }
    .image-block {
        width: 45%;
        position: absolute;
        z-index: 12;
    }
    .image-block img {
        width: 100%;
        opacity: 0.3;
    }
    /* section #5 - packets */
    .container {
        height: 85vw;
    }
    .container-overlay {
        height: 85vw;
    }
    .container-p1 {
        font-size: 5vw;
        margin-bottom: 3vw;
    }
    .container-p2 {
        font-size: 3.4vw;
        width: 95%;
    }
    .packets {
        width: 96%;
        display: flex;
        justify-content: space-between;
    }
    .packet {
        width: 30vw;
        height: 45vw;
    }
    .packet-border {
        width: 30vw;
        height: 45vw;
    }
    .packet-p1 {
        font-size: 3.3vw;
        margin-bottom: 2.2vw;
    }
    .packet-p2 {
        font-size: 6.5vw;
        margin-bottom: 2.2vw;
    }
    .paragraph-top {
        font-size: 3vw;
    }
    .packet-p {
        font-size: 2.6vw;
        font-family: 'poppins', sans-serif;
        color: #5F6874;
        margin-bottom: 2vw;
    }
    .packet-p7 {
        font-size: 1.6vw;
        margin-top: 1.5vw;
    }
    .border-txt {
        transform: rotate(-44deg);
        position: absolute;
        bottom: 3vw;
        right: -0.2vw;
    }
    .border-txt a {
        font-size: 2.2vw;
    }
    /* footer */
    footer {
        height: 90vw;
    }
    .footer-wraper {
        height: 90vw;
    }
    .footer-nav {
        height: 70vw;
        margin-bottom: 4vw;
        flex-wrap: wrap;
    }
    .adress-ul {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-title {
        font-size: 4vw;
    }
    .adress-li {
        margin-top: 1.8vw;
        font-size: 2.5vw;
        width: 60%;
    }
    .footer-ul {
        width: 50%;
    }
    .footer-p {
        font-size: 3vw;
        margin-bottom: 2.5vw;
    }
    .footer-li {
        font-size: 2.2vw;
        margin-bottom: 1.5vw;
    }
    .newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5vw auto;
    }
    .email-form input {
        width: 25vw;
        height: 6vw;
        font-size: 2.5vw;
    }
    .submit-button {
        height: 6vw;
        font-size: 2.5vw;
    }
    .copyright {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    .copyright-p {
        font-size: 2.5vw;
        margin-top: 1vw;
    }
    .copyright-a {
        font-size: 2.5vw;
    }
}